.keep{
   background-color: #ffb2b2;
}

div{
   margin: 20px auto;
}

.dice{
   width: 60px;
   height: 60px;
   font-size: 30px;
   text-align: center;
}

h1{
   color: red;
   font-size: 70px;
}

.hide{display: none}

.availableScoreLower{
   background-color: royalblue;
   color: white;
}

.availableScoreUpper{
   background-color: green;
   color: white;
}

.cutScore{
   background-color: red;
   color: white;
}

table{
   border: 1px solid black;
   text-align: center;
}

td{
   border: 1px solid black;
}
th{
   border: 1px solid black;
}

.blackout{
   background-color: black;
}