body{
  margin: 0;
  padding: 0;
}

.keep{
   background-color: #ffb2b2;
}

.container{
   display: flex;
   justify-content: space-between;
   max-width: 610px;
}

.flexCenter{
  align-items: center;
}

div{
   margin: 10px;
}

.dice{
   width: 60px;
   height: 60px;
   font-size: 30px;
   text-align: center;
}

.bold{
   font-weight: bold;
}

.activePlayer{
   background-color: yellow;
}


.hide{display: none}

.lower{
   background-color: royalblue;
   color: white;
}

.upper{
   background-color: green;
   color: white;
}

.cutScore{
border: 2px solid red;
 
}

table{
   border: 1px solid black;
   text-align: center;
}

td{
   border: 1px solid black;
}
th{
   border: 1px solid black;
}

.blackout{
   background-color: black;
}